html, body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  background: black;
}

* {
  cursor: url('/sprites/pointer.png'), auto;
}

canvas {
  width: 100%;
  background: black;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  /* Fallback for some browsers */
  image-rendering: -moz-crisp-edges;
  /* Firefox */
  image-rendering: -webkit-crisp-edges;
  /* Older webkit */
}

@font-face {
  font-family: fontRetroGaming;
  src: url("/fonts/Retro Gaming.ttf");
}